 {% extends 'base.html.twig' %}

{% form_theme ChangePasswordForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="row col-md-8 mx-auto">

        {{ form_start(ChangePasswordForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}

            {{ form_row(ChangePasswordForm.oldPassword) }}
            {{ form_row(ChangePasswordForm.password, {'row_attr': {'class': 'col-md-6'} }) }} {# je peux mettre du style directement dans ma vue #}
            {{ form_row(ChangePasswordForm._token) }}

            <button type="submit" class="btn btn-outline-primary mt-2"> Modifier </button>

        {{ form_end(ChangePasswordForm, {render_rest: false}) }}	
        {# render_rest false fait en sorte que les champs non écrits dans cette page ne s'afficheront pas dans ma page modify profile même si UserType a d'autres champs #}

    </div>

{% endblock %}